<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
</head>

<body style="font-family: Arial; background: #f5f6fa; margin: 0;">

<div style="max-width: 400px; margin: 100px auto; background: white; padding: 30px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1); text-align: center;">

    <h2 style="margin-bottom: 20px;">📝 Criar Conta</h2>

<form method="POST">

    <input type="text" name="nome" placeholder="Nome" required
    style="width: 100%; padding: 10px; margin-bottom: 15px; border-radius: 5px; border: 1px solid #ccc;">

    <input type="email" name="email" placeholder="Email" required
    style="width: 100%; padding: 10px; margin-bottom: 15px; border-radius: 5px; border: 1px solid #ccc;">

    <input type="password" name="senha" placeholder="Senha" required
    style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 5px; border: 1px solid #ccc;">

    <button type="submit"
    style="width: 100%; background: #0984e3; color: white; padding: 12px; border: none; border-radius: 5px;">
        Registrar
    </button>

</form>

    </form>

    <br>

    <a href="/login" style="text-decoration: none; color: #34495e;">
        Já tenho conta
    </a>

</div>

</body>
</html>